@font-face {
  font-family: 'Constantia';
  src: url('assets/fonts/Constantia.ttf') format('truetype');
}

body {
  background: url('assets/dead_grass_texture.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #F4E6C8;
  font-family: 'Constantia', serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  text-align: center;
}

h1 {
  font-size: 3rem;
  line-height: 1.5;
  margin: 0;
}

#dead-grass {
  color: #cca323; 
  font-weight: bold;
  font-size: 4rem;
  display: inline-block;
  transition: transform 0.1s ease-in-out;
}

#dead-grass:hover {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% { transform: translate(2px, 1px); }
  25% { transform: translate(-2px, -2px); }
  50% { transform: translate(2px, -1px); }
  75% { transform: translate(-1px, 2px); }
  100% { transform: translate(0, 0); }
}

.projects {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 200px;
}

.project-link {
  font-size: 1.5rem;
  color: #F4E6C8;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  transition: transform 0.3s ease;
}

.project-link:nth-child(1) {
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
}

.project-link:nth-child(2) {
  left: 25%;
  top: 70px;
  transform: translate(-50%, 0);
}

.project-link:nth-child(3) {
  left: 75%;
  top: 70px;
  transform: translate(-50%, 0);
}

.project-link:nth-child(4) {
  left: 12.5%;
  top: 140px;
  transform: translate(-50%, 0);
}

.project-link:nth-child(5) {
  left: 87.5%;
  top: 140px;
  transform: translate(-50%, 0);
}

.project-link:hover {
  color: #A67F52; /* Slight change on hover */
  transform: scale(1.1);
}
#next-group-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 0.7;
}

